.dropshadow {
  filter: drop-shadow(6px 3px 2px black); }

body {
  background-color: #e0d6cd; }

.p {
  padding: 80px; }

.sliderdesktop {
  margin: 0;
  padding: 0; }

.carousel-item img {
  object-fit: cover;
  min-height: 400px; }

.colornavbar {
  background-color: #15151B; }

.section1 {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 50px; }
  .section1 h1, .section1 h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }
  .section1 .guitarGrey {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); }
    .section1 .guitarGrey:hover {
      transition: all 0.2s;
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      transform: scale(1.1);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(0.1); }

.section2 {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 50px 10px 150px 10px; }
  .section2 h1, .section2 h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }
  .section2 button {
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    color: #15151b;
    padding: 10px 50px;
    border: none;
    border: solid 1px;
    border-radius: 15px; }
    .section2 button:hover {
      background-color: #15151b;
      color: #FFFFFF;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.expertsCol {
  padding-left: 180px;
  padding-right: 180px; }

.section3 {
  background-color: white;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("https://i.postimg.cc/MHcy8Qd3/guitar-Overlay.png");
  background-size: cover;
  height: 450px;
  background-position: center;
  color: white; }
  .section3 h1, .section3 h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold; }
  .section3 button {
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    color: #15151b;
    padding: 10px 50px;
    border: none;
    border: solid 1px;
    border-radius: 15px; }
    .section3 button:hover {
      background-color: #15151b;
      color: #FFFFFF;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.section4 {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 50px 10px 80px 10px; }
  .section4 h1, .section4 h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold; }
  .section4 .buttonDesktop {
    background-color: #616161;
    font-weight: bold;
    text-transform: uppercase;
    color: #15151b;
    padding: 10px 50px;
    border: none;
    border: solid 1px;
    border-radius: 0px 20px 20px 0px; }
    .section4 .buttonDesktop:hover {
      background-color: #15151b;
      color: #FFFFFF;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .section4 .inputDesktop {
    border-radius: 20px 0px 0px 20px;
    padding: 10px 50px;
    border: solid 1px;
    margin-right: -5px; }
  .section4 .buttonMobile {
    background-color: #616161;
    font-weight: bold;
    text-transform: uppercase;
    color: #15151b;
    padding: 10px 50px;
    border: none;
    border: solid 1px;
    border-radius: 20px 20px 20px 20px; }
    .section4 .buttonMobile:hover {
      background-color: #15151b;
      color: #FFFFFF;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .section4 .inputMobile {
    border-radius: 20px 20px 20px 20px;
    padding: 10px 50px;
    border: solid 1px;
    margin-bottom: 15px; }

.sectionInterna1 {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 450px;
  background-image: url("https://i.postimg.cc/Znhbx9Cv/bgv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 10px 80px 10px;
  color: white; }
  .sectionInterna1 h1, .sectionInterna1 h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }

.sectionInterna2 {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .sectionInterna2 h1, .sectionInterna2 h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }
  .sectionInterna2 h2 {
    margin-top: 50px; }
  .sectionInterna2 p {
    padding: 80px; }

.sectionInterna3 {
  background-color: #15151B;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .sectionInterna3 h1, .sectionInterna3 h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }

.bgrow2 {
  height: 400px;
  background-image: url("https://i.postimg.cc/8c3qm9yK/pic2.jpg");
  background-repeat: no-repeat;
  background-size: fit;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: white; }

.bgrowGibson {
  height: 400px;
  background-image: url("https://i.postimg.cc/rFKwStys/pic2.png");
  background-repeat: no-repeat;
  background-size: fit;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 50px;
  color: white; }

.bgrowSG {
  height: 400px;
  background-image: url("https://i.postimg.cc/NFvZLS0R/pic3.png");
  background-repeat: no-repeat;
  background-size: fit;
  background-position: bottom;
  margin-bottom: 50px;
  margin-top: 50px;
  color: white; }

.bgrowFirebird {
  height: 450px;
  background-image: url("https://i.postimg.cc/7hfvF0bW/4.png");
  background-repeat: no-repeat;
  background-size: fit;
  background-position: bottom;
  margin-bottom: 50px;
  margin-top: 50px;
  color: white; }

.bgrow {
  height: 400px;
  margin-bottom: 50px;
  margin-top: 50px; }
  .bgrow button {
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    color: #15151b;
    padding: 10px 50px;
    border: none;
    border: solid 1px;
    border-radius: 15px; }
    .bgrow button:hover {
      background-color: #15151b;
      color: #FFFFFF;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.sectionInternaGibson {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 450px;
  background-image: url("https://loviesguitars.com/wp-content/uploads/2019/04/IMG_0320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 10px 80px 10px;
  color: white; }
  .sectionInternaGibson h1, .sectionInternaGibson h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }

.sectionInternaSG {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 450px;
  background-image: url("https://i.postimg.cc/GtshnZ5Y/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 10px 80px 10px;
  color: white; }
  .sectionInternaSG h1, .sectionInternaSG h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }

.sectionInternaFirebird {
  background-color: #e0d6cd;
  min-height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 450px;
  background-image: url("https://i.postimg.cc/8CpTyFdq/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 10px 80px 10px;
  color: white; }
  .sectionInternaFirebird h1, .sectionInternaFirebird h2 {
    padding-top: 30px;
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold; }

footer {
  background-color: #15151B;
  min-height: 350px;
  color: white; }
  footer .footerColumns {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center; }

.logos {
  padding: 35px 15px;
  object-fit: cover;
  background-color: #15151B;
  justify-content: space-evenly; }

.logo {
  max-width: 150px;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-5px); }

.logo:hover {
  transform: translateY(-20px); }

.logoFooter {
  object-fit: cover;
  max-width: 300px; }

.redes {
  object-fit: cover;
  max-width: 300px; }

@media (min-width: 576px) {
  .formMobile {
    display: none; } }

@media (max-width: 575.98px) {
  .formDesktop {
    display: none; } }
